<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Internews - {{page.title}}</title>
<link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
<link rel='stylesheet' href='{{site.baseurl}}/site.css' media='all'/>
</head>
<body {% if page.url == '/index.html' %}class="front"{% endif %}>
  <div id='overlay'></div>
  <div id='masthead'>
    <a href='http://www.internews.org' class='internews' title='internews.org'>an INTERNEWS project</a>
  </div>
  <div id='header'>
    <a href='{{site.baseurl}}/index.html' class='title'>Internews in Afghanistan</a>
	</div>
{{content}}

</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-88478-32']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
